name: Build Mail Service Module

on:
  push:
    branches: [master]
    paths:
      - "mail-service/**"
      - "common/**"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build and install Common module
        run: mvn -B clean install --file common/pom.xml
      
      - name: Verify Mail-service with Maven
        run: mvn -B clean verify --file node/pom.xml 

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Loging to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build container and push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./mail-service/Dockerfile
          push: true
          tags: orcxus/turbo_drop_mail_service:latest
